body{
    background-color: black;
}
.div1{
    position: relative;
    top: 275px;
    left: 120px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: brown;
    transform: rotate(19deg);
}
.div2{
    position: absolute;
    top: 280px;
    left: 128px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: brown;
    transform: rotate(160deg);
}

.div3{
    position: absolute;
    left: 236px;
    /* top: 155px; */
    transform: rotate(50deg);
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 5px;
    /* animation styles */
    animation-name: animae;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    /* animation-direction: alternate-reverse; */
    animation-fill-mode: forwards;
}
.div4{
    position: absolute;
    left: 252px;
    top: 101px;
    transform: rotate(50deg);
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 5px;
}
.div5{
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 5px;
}
.div6{
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 5px;
}

@keyframes animae {
    to{
        transform: translatey(100px);
        /* transform: rotate(30deg); */
        /* rotate: 30deg; */
    }from{
        transform: translateY(200px);

    }
} 